@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"');



$background-color-1: #16151c;
$background-color-2: #1f1f1f;
$maxContentWidth: 75rem;
$orange:#EF6C00;
$green: #4CAF50;
$blue: #03A9F4;
$purple: #9C27B0;


body {
    background-color: $background-color-1;
    font-family: 'Roboto Light', sans-serif;
    color: azure;
    margin: 0;
    z-index: 9999;
}

.appContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5%);
    grid-auto-rows: minmax(50px, auto);
}

.flexContainer {
    grid-column: 1 / -1;
    display: flex;
}

.containerHeader {
    width: 100%;
    margin-bottom: 0.25rem;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.headerName {
    order: 1;
    padding-left: 1rem;
    font-size: x-large;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.toggle {
    padding-right: 1rem;
    order: 3;
    flex-wrap: nowrap;
    justify-self: right;
}

.btnGroup {
    justify-self: right;
    flex-wrap: nowrap;
    order: 2;
    display: flex;
    justify-content: space-between;
}

.cvLink {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    color: azure;
    background-color: var(--blue);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.personalData {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.personalPicture {
    width: 200px;
    height: 200px;
    z-index: 1;
}


.personalDataName {
    margin-bottom: 0;
}

.personalDataTitle {
    margin-top: 0;
}

.aboutMeContainer {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $background-color-2;
    width: 100%;
}

.aboutMeSubContainer {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $maxContentWidth;
    width: 100%;
}

.technicalSkillsContainer {
    flex-direction: column;
    align-items: center;
    background-color: $background-color-1;

}

.technicalSkillsSubContainer {
    max-width: $maxContentWidth;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.technicalSkill {
    width: 37.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.technologyItems {
    padding-left: 1rem;
    padding-right: 1rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.technologyItem {
    margin: 0.25rem 0.5rem;
}

.softSkillsContainer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-2;
}

.softSkillsSubContainer {
    max-width: $maxContentWidth;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
}

.softSkillItem {
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 1rem;

}

.languageContainer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-1;
}

.languageSubContainer {
    max-width: $maxContentWidth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
}

.languageItem {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.barDescription {
    display: flex;
    justify-content: space-between;
}

.volumeBar > * {
    background-color: rgb(3, 169, 244) !important;
}

.experienceContainer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-2;
}

.experienceSubContainer {
    max-width: $maxContentWidth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experienceList {
    list-style: disc;
}

.contactContainer {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-1;
}

.contactSubContainer {
    max-width: $maxContentWidth;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactIconContainer {
    align-self: center;
}

.contactIcon {
    margin: 1rem;
    cursor: pointer;
}

.footer {

    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    background-color: $background-color-2;

}






.particles{
    z-index: 0;
}




/* SLIDER
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--blue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1rem;
}

.slider.round:before {
    border-radius: 1rem;

}

/* width */
::-webkit-scrollbar {
    width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background-color-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}